body{
    margin: 0;
    background-color:#f7f3e9;
    
}
.logo{
    position: absolute;
    left: 40;
    height: 100;
}
.main-heading{
    font-family:Brush Script MT ;
    font-size: 100;

}
.p1{
    color: #289672;
font-size: 30px;
}

h1{
    padding-top: 40;
font-size: 50;


    margin-top:0 ;
    color:#289672 ;
    
    
}
h3{
    font-size: 30;
}
p{
    font-size: 20;
}

div{
    background-color:#c5ded7 ;
    
}



.top-cloud{
    position: absolute;
    right: 200;
}
.land
{

}
.cloud
{
    position: absolute;
left: 30;
top: 350;
}
.bottom{
    background-color: #c5ded7;
}
